.fon-header {
    background-color: rgba($color: $fon, $alpha: 0.2);
    margin: 0 -15px;
}
@media screen and (min-width:768px) {
    .fon-header {
        background-color: transparent;
        margin: 0;
    }
}
