.footer {
    &--fon {
    background-color: $greyfon;
    }
    padding-top: 62px;
    padding-bottom: 30px;
    text-align: center;
    &-top {
        &__address {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $darkblue;
        }
        &__map {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $blue;
            text-decoration: none;
            padding-top: 10px;
            display: inline-block;
            vertical-align: top;
        }
        &__auth {
            display: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: $date;
            text-transform: uppercase;
        }
    }
    &-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        &__fb {
        margin-bottom: 7px;
        &:hover path {
            fill: $hover;
        }
        }
        &__tel {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $tell;
            text-decoration: none;
            margin-bottom: 10px;
        }
        &__mail {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            text-decoration: none;
            margin-bottom: 30px;
            &:hover {
                color: $hover;}
        }
    }
    &__auth {
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: $date;
        text-transform: uppercase;
    }
    &--white {
        padding-top: 30px;
    } 
}
@media screen and (min-width:708px) {
    .footer {
        text-align: left;
        margin: 0 124px;
        &-top {
            display: flex;
            align-items: center;
            &__map {
                padding: 0;
                margin-left: -4px;
            }
            &__map::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                background: $date;
                border-radius: 50%;
                width: 6px;
                height: 6px;
                margin: 0 11px;
            }
        }
        &-bottom {
            flex-direction: row;
            align-items: center;
            margin-bottom: 27px;
            & a {
                margin: 0;
            }
            &__tel::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: $date;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin: 0 11px;
            }
            &__tel::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            background: $date;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            margin: 0 11px;
            }
        }
        &__auth {
            padding-left: 64px;
        }
    }
}
@media screen and (min-width:850px) {
    .footer {
        margin: 0;
        padding-top: 32px;
        &-bottom {
            margin-bottom: 0;
        }
        &-top {
            &__auth {
                display: block;
                margin-left: auto;
            }
        }
        &__auth {
            display: none;
        }
    }
}


