* {
  box-sizing: border-box;
  margin: 0;
}
.body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  min-width: 435px;
}
.container {
  max-width: 1380px;
  min-width: 435px;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}