$grey: #EDEDF7;
$blue: #24A3FF;
$darkblue: #323264;
$logo01: #1C4280;
$logo02: #143646;
$logo03: #F48B30;
$logo04: #9E4DC3;
$logo05: #FD9339;
$logo06: #E2E2E4;
$logo07: #C71C36;
$logo08: #DCF3F9;
$logo09: #EAEAEA;
$logo10: #282240;
$logo11: #1D4568;
$logo12: #000000;
$greyfon: #F5F5FA;
$white: #FFFFFF;
$date: #B3B3BA;
$border: #E6E6F0;
$tell: #46466E;
$hover: #F0145A;
$black: #000000;
$lg-grey: #8d8888;
$fon: #F5F5FA;
$after: #CACADB;
$before: #E7E7F2;



